.chat-container{
    height: 100%;
}

.server{
    background: #303030;
}

.channel{
    background: #3A3A3A;
}

.messaging{
    background: #4D4D4D;
}


/* Chat.js */

.container-split{
    display: flex;
    height: 100%;
}

/* Server.js  */
.server{
    min-width: 75px;
}

/* Channel.js  */
.channel{
    display:flex;
    justify-content: center;
    padding: 10px;
}

/* Messaging.js  */

/* sidebar */
#App {
    font-family: sans-serif;
    height: 100vh;
  }
  
  #page-wrap {
    text-align: center;
    overflow: auto;
  }
  
  .bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
  }
  
  .bm-item:hover {
    color: white;
  }
  
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  .bm-burger-bars {
    background: #373a47;
  }
  
  .bm-cross-button {
    height: 36px !important;
    width: 36px !important;
    left: 16px !important;
    top: 16px !important;
  }
  
  .bm-menu {
    background: #373a47;
    /* padding: 2.5em 1.5em 0; */
    font-size: 1.15em;
  }
  
  .bm-morph-shape {
    fill: #373a47;
  }
  
  .bm-item-list {
    color: #b8b7ad;
  }
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    @media (max-width: 992px){
        display: none;
    }
  }

