.login-box{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    background: linear-gradient(to bottom right, rgb(112,112,112,0.1), rgb(104,104,104,0.21));
    border-radius: 32px;
    height: 22em;
    width: 22em;
}

.login-container{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-box > .login-container > h1{
    font-weight: 300;
    text-align: center;
    color: var(--blue);
}

form{
    height: 60%;
    display: flex;
    flex-direction: column;
}

form > input{
    display: block;
    margin:auto;
    padding: 10px;
    width: 260px;
    background: var(--black);
    border: none;
    outline: none;
    border-radius: 32px;
}

form > input:focus{
    color: white;
}

form > input[type=text]{
    /* text-align: center; */
}

form > button{
    justify-content: center;
    margin:auto;
    background: var(--black);
    color: white;
    padding: 8px 6px;
    width: 85px;
    border-radius: 32px;
    border: none;
    font-size: 12px;
}

.login-container > p{
    font-size: 14px;
    font-weight: 400;
}

.login-container > p > span{
    color: var(--blue);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--black);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px var(--black) inset;
  transition: background-color 5000s ease-in-out 0s;
}